{% block content %}
<nav class="nav navbar-nav navbar-fixed-top">
		<ul class="nav navbar-nav">
		  <li><a href=""><img src="https://66.media.tumblr.com/b4209e69b49da0c22aa50b3b92836824/tumblr_ppcdun8CMZ1srjdm2o1_500.png" style="width: 81px; height: 58px;"><span class="sr-only">(current)</span></a></li>
		  <li><a href="#about">Acerca de</a></li>
		  <li><a href="#contact">Contacto</a></li>
		  <li style="float: right;"><a href="#about">Iniciar sesión <span class="glyphicon glyphicon-log-in"></span></a></li>
		  <li style="float: right;"><a href="#about">Registrarse <span class="glyphicon glyphicon-user"></span></a></li>
		</ul>
	</nav>
{% endblock %}